# Tugas Program 1 Machine Learning

# Bintang Peryoga (1301164032) - IF4004

Data Train (160 Objek):
1. age(young, adult, old)
2. workclass(Private, Local-gov, Self-emp-not-inc)
3. education(Some-college, Bachelors, HS-grad)
4. marital-status(Married-civ-spouse, Never-married, Divorced)
5. occupation(Prof-specialty, Craft-repair, Exec-managerial)
6. relationship(Husband, Not-in-family, Own-child)
7. hours-per-week(normal, low, many)
8. income(>50K, <=50K)

Data Test (40 Objek)

In [65]:
# masukan library yang dibutuhkan
import pandas as pd

In [66]:
# masukan  function yang dibutuhkan
def count(labelname1, val1, labelname2, val2): #menghitung banyaknya data berlabel 'labelname1' = val1 ketika data berlabel 'labelname2' = val
    i = 0
    for j in range(len(datatrain)):
        if(datatrain[labelname1][j] == val1) & (datatrain[labelname2][j] == val2):
            i = i + 1
    return i

def naivebayes(labelname1, val1, labelname2, val2, income_type_amount): #menghitung peluang menggunakan rumus naive bayes
    result = count(labelname1, val1, labelname2, val2) / income_type_amount
    return result

In [67]:
# View data train
datatrain = pd.read_excel('TrainsetTugas1ML.xlsx')
datatrain

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week,income
0,4776,young,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
1,8173,adult,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,normal,>50K
2,23423,young,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
3,1818,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
4,14894,adult,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal,>50K
5,13128,adult,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
6,29619,adult,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
7,2308,adult,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
8,9606,adult,Self-emp-not-inc,Some-college,Divorced,Craft-repair,Not-in-family,normal,<=50K
9,15394,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
10,14741,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
11,21019,adult,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
12,9847,young,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,>50K
13,12546,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
14,8930,adult,Private,HS-grad,Divorced,Craft-repair,Not-in-family,normal,<=50K
15,2603,young,Private,HS-grad,Divorced,Exec-managerial,Not-in-family,normal,>50K
16,16168,young,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,normal,>50K
17,16165,adult,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
18,26180,adult,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
19,8209,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
20,14147,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
21,10512,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
22,21375,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
23,23562,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
24,19154,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
25,11091,adult,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
26,12232,young,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
27,19725,young,Self-emp-not-inc,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
28,24980,young,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
29,7834,young,Private,HS-grad,Divorced,Craft-repair,Not-in-family,normal,>50K
...,...,...,...,...,...,...,...,...,...
130,8195,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
131,18210,young,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,>50K
132,5748,young,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
133,20883,young,Private,Some-college,Never-married,Prof-specialty,Own-child,normal,<=50K
134,28940,adult,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
135,32117,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
136,9639,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
137,23052,old,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
138,12503,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
139,29275,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,<=50K
140,20928,adult,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
141,16832,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
142,15777,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,many,>50K
143,10409,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
144,5470,young,Self-emp-not-inc,HS-grad,Divorced,Craft-repair,Not-in-family,normal,<=50K
145,28990,young,Self-emp-not-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,<=50K
146,3348,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
147,27044,young,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal,>50K
148,14364,young,Private,Some-college,Never-married,Craft-repair,Not-in-family,normal,<=50K
149,32484,adult,Private,Some-college,Divorced,Exec-managerial,Not-in-family,normal,<=50K
150,8910,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
151,14676,adult,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
152,25586,young,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,>50K
153,23955,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
154,11007,adult,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
155,26037,young,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
156,12777,adult,Private,Some-college,Divorced,Craft-repair,Not-in-family,normal,<=50K
157,11461,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
158,31461,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
159,23157,old,Local-gov,HS-grad,Married-civ-spouse,Exec-managerial,Husband,low,<=50K

In [68]:
# View data test
datatest = pd.read_excel('TestsetTugas1ML.xlsx')
datatest

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week,income
0,26027,young,Private,HS-grad,Never-married,Craft-repair,Not-in-family,normal,NaN
1,26314,young,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal,NaN
2,31405,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,NaN
3,14736,adult,Private,Some-college,Divorced,Prof-specialty,Not-in-family,normal,NaN
4,27217,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,many,NaN
5,5951,young,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,normal,NaN
6,30067,young,Local-gov,Bachelors,Never-married,Craft-repair,Not-in-family,normal,NaN
7,28777,young,Self-emp-not-inc,Some-college,Never-married,Craft-repair,Not-in-family,normal,NaN
8,15390,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,NaN
9,18042,young,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,NaN
10,5793,adult,Local-gov,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,NaN
11,31274,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,NaN
12,17068,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,low,NaN
13,21894,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,NaN
14,24128,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,NaN
15,8550,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,NaN
16,1181,young,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal,NaN
17,11149,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,NaN
18,20836,young,Private,Some-college,Never-married,Prof-specialty,Not-in-family,normal,NaN
19,25766,adult,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,NaN
20,139,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,NaN
21,27160,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,NaN
22,8814,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,NaN
23,11470,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,NaN
24,16694,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,NaN
25,26906,adult,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal,NaN
26,9890,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,NaN
27,9769,adult,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,NaN
28,11078,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,NaN
29,12924,young,Private,Bachelors,Never-married,Craft-repair,Not-in-family,many,NaN
30,26020,adult,Private,HS-grad,Never-married,Craft-repair,Not-in-family,normal,NaN
31,9017,young,Private,Some-college,Divorced,Exec-managerial,Not-in-family,normal,NaN
32,10243,adult,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,NaN
33,10882,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,NaN
34,19535,young,Self-emp-not-inc,HS-grad,Never-married,Craft-repair,Not-in-family,normal,NaN
35,4565,adult,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal,NaN
36,29102,young,Private,Some-college,Never-married,Exec-managerial,Not-in-family,normal,NaN
37,26673,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,NaN
38,29415,adult,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,normal,NaN
39,17397,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,NaN

In [69]:
#langkah 1 : menentukan peluang income = '>50K' dan income = '<=50K'
up_income = 0 #menghitung banyaknya income >50K
down_income = 0 #menghitung banyaknya income <=50K
for a in range(len(datatrain)):
    if(datatrain['income'][a]=='>50K'):
        up_income = up_income + 1
    else:
        down_income = down_income + 1
Pup_income = up_income/len(datatrain) #peluang income = '>50K'
Pdown_income = down_income/len(datatrain) #peluang income = '<=50K'

In [70]:
# Langkah 2 : menentukan peluang dari masing-masing atribut
datatest_income = []
for i in range(len(datatest)):
    Page_up = naivebayes('age', datatest['age'][i], 'income', '>50K', up_income)
    Page_down = naivebayes('age', datatest['age'][i], 'income', '<=50K', down_income)
    
    Pworkclass_up = naivebayes('workclass', datatest['workclass'][i], 'income', '>50K', up_income)
    Pworkclass_down = naivebayes('workclass', datatest['workclass'][i], 'income', '<=50K', down_income)
    
    Peducation_up = naivebayes('education', datatest['education'][i], 'income', '>50K', up_income)
    Peducation_down = naivebayes('education', datatest['education'][i], 'income', '<=50K', down_income)
    
    Pmaritalstatus_up = naivebayes('marital-status', datatest['marital-status'][i], 'income', '>50K', up_income)
    Pmaritalstatus_down = naivebayes('marital-status', datatest['marital-status'][i], 'income', '<=50K', down_income)
    
    Poccupation_up = naivebayes('occupation', datatest['occupation'][i], 'income', '>50K', up_income)
    Poccupation_down = naivebayes('occupation', datatest['occupation'][i], 'income', '<=50K', down_income)
    
    Prelationship_up = naivebayes('relationship', datatest['relationship'][i], 'income', '>50K', up_income)
    Prelationship_down = naivebayes('relationship', datatest['relationship'][i], 'income', '<=50K', down_income)
    
    Phoursperweek_up = naivebayes('hours-per-week', datatest['hours-per-week'][i], 'income', '>50K', up_income)
    Phoursperweek_down = naivebayes('hours-per-week', datatest['hours-per-week'][i], 'income', '<=50K', down_income)
    
    Pup = Page_up*Pworkclass_up*Peducation_up*Pmaritalstatus_up*Poccupation_up*Prelationship_up*Phoursperweek_up*Pup_income
    Pdown = Page_down*Pworkclass_down*Peducation_down*Pmaritalstatus_down*Poccupation_down*Prelationship_down*Phoursperweek_down*Pdown_income
    
    # Langkah 3: hasil prediksi dimasukkan ke array datatest_income
    if(Pup > Pdown):
        datatest_income.append('>50K')
    else:
        datatest_income.append('<=50K')

In [71]:
# Langkah 4: masukkan hasil prediksi income ke file datatest
TebakanTugas1 = pd.DataFrame({'income': datatest_income}, index=datatest['id'])
TebakanTugas1.to_excel("TebakanTugas1.xlsx")